body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('Marvel images/507068.jpg');
  }

  #logo {
    font-size: 37px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(167, 105, 11);
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
    font-style: initial;
  }
  
  #logo:hover {
    transform: scale(1.1);
  }
  
  
  #logoimage {
    height: 60px;
    width: 180px;
  }
  
  #hero-details {
    text-align: center;
}

#hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.details-section {
  background-color: aliceblue;
    margin-top: 20px;
    text-align: left;
}

.details-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details-content {
    font-size: 1.2em;
}
