body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('Marvel images/507068.jpg');
  }
  
  #favlistitem {
    display: flex;
    align-items: flex-start;
  }
  
  #outerbox {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  #outerbox:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  #innerbox {
    text-align: center;
    margin-bottom: 10px;
  }
  
  h5 {
    margin: 10px 0;
    color:rgb(17, 16, 16);
  }
  
  button {
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #innerbox img {
    height: 300px;
    width: 200px;
    border-radius: 5px;
  }
  
   #logo {
    font-size: 37px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(167, 105, 11);
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
    cursor: default;
    font-style: initial;
  }
  
  #logo:hover {
    transform: scale(1.1);
  }
  
  
  #logoimage {
    height: 60px;
    width: 180px;
  }
  
  .nav-link {
    color: white;
    height:35px;
    width:80px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid red;
    background-color: rgb(73, 43, 246);
    padding: 2px 13px;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: white;
    color: red;
  }
  

 #favlistimg {
  max-width: 100%;
  height: auto;
 }

 button {
  margin: 5px;
}
  